<h4>Search</h4>
<hr>
<form class="form-inline" (ngSubmit)="Search($event)">

  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="name" name="songName" id="inlineFormInput" placeholder="Name">


  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <input type="text" class="form-control" [(ngModel)]="artistName" name="album" id="inlineFormInputGroup" placeholder="Artist name">
  </div>

  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <input type="text" class="form-control" [(ngModel)]="email" name="length" id="inlineFormInputGroup2" placeholder="Email">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
